<main id="main">

  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Услуги и цены</h2>
        <p>
          Наши цены можно посмотреть в прайс-листе. Мы будем рады комбинировать для вас различные приложения и
          косметические продукты и создавать для вас индивидуальные предложения.
        </p>
      </div>

      <div class="row">




        <div class="col-lg-6">
          <h3 class="resume-title">Уход за кожей</h3>

          <div class="resume-item">
            <h4>Уход за кожей</h4>
            <p><em>со специально подобранной косметикой для вашего типа кожи.</em></p>
            <p>
            <ul>
              <li>очищение кожи</li>
              <li>Энзимный пилинг Устранение недостатков кожи</li>
              <li>Правильный уход и маска</li>
              <li>Массаж (декольте/плеч/шеи)</li>
              <li>длительность: 60 мин.</li>
            </ul>
            </p>
            <h5>Цена: <%- pricelist.skincare_basic%></h5>
          </div>


          <div class="resume-item">
            <h4>Микронидлинг</h4>
            <p>со специально подобранными ампулами для вашего типа кожи</p>
            <p>
            <ul>
              <li>Hautanalyse</li>
              <li>Auswahl des Serums</li>
              <li>Peeling</li>
              <li>Massage (Dekollete / Schulter / Nacken)</li>
              <li>длительность: 60 Min.</li>
            </ul>
            </p>
            <h5>Цена: <%- pricelist.microneedling %></h5>
            <h5>Цена 3 процедуры: <%- pricelist.microneedling_3pack %></h5>
          </div>


          <div class="resume-item">
            <h4>Микродермабразия</h4>
            <p>Самый эффективный и современный вид пилинга</p>
            <p>
            <ul>
              <li>анализ кожи</li>
              <li>Выбор сыворотки</li>
              <li>шелушение</li>
              <li>Массаж (декольте/плеч/шеи)</li>
              <li>ампульная маска и завершающий уход</li>
              <li>длительность: 60 Min.</li>
            </ul>
            </p>
            <h5>Цена: <%- pricelist.microdermabrasion %></h5>
            <h5>Цена 3 процедуры: <%- pricelist.microdermabrasion_3pack %></h5>
          </div>
        </div>


        <div class="col-lg-6">
          <h3 class="resume-title">брови и ресницы</h3>
          <div class="resume-item pb-0">
            <h4>Lash Lifting </h4>
            <p><em>в том числе окрашивание и кератиновый бустер</em></p>
            <p>
              При подтяжке ресниц волосы обрабатываются 2 кремами и моделируются.
            </p>
            <h5>Цена: <%- pricelist.lash_lifting %></h5>
          </div>

          <div class="resume-item pb-0">
            <h4>Brow Lifting </h4>
            <p><em>включая окраску</em></p>
            <p>
              <ul>
                <li>При подтяжке бровей брови фиксируются навсегда.</li>
                <li>Коррекция бровей.</li>
              </ul>                          
            </p>
            <h5>Цена: <%- pricelist.brow_lifting %></h5>
          </div>

          <div class="resume-item pb-0">
            <h4>Lash Lifting & Brow Lifting </h4>
            <p><em>в том числе окрашивание и кератиновый бустер</em></p>
            <p>
              Подтяжка ресниц и бровей — это специальный и недавно разработанный метод, позволяющий придать естественным ресницам и бровям постоянное сильное движение вверх.
            </p>
            <h5>Цена: <%- pricelist.lashbrow_lifting %></h5>
          </div>





          <h3 class="resume-title">Хмелевой уход за кожей и волосами</h3>

          <div class="resume-item">
            <h4>уход за кожей головы</h4>
            <p><em>Индивидуальный уход за кожей головы, включая расслабляющий массаж</em></p>
            <p>
            </p>
            <h5>Цена: <%- pricelist.haircare_basic %></h5>
          </div>

          <div class="resume-item">
            <h4>Интенсивное лечение выпадения волос или перхоти</h4>
            <p><em>Питает и обновляет внутреннюю структуру волос.</em></p>
            <p></p>
            <h5>Цена: <%- pricelist.haircare_premium %></h5>
          </div>

        </div>




      </div>



    </div>
  </section><!-- End Resume Section -->






</main><!-- End #main -->